<table id="board">
    <tr id="row-1">
        <td class="space" >{{0}}</td>
        <td class="space" >{{1}}</td>
        <td class="space" >{{2}}</td>
    </tr>
    <tr id="row-2">
        <td class="space" >{{3}}</td>
        <td class="space" >{{4}}</td>
        <td class="space" >{{5}}</td>
    </tr>
    <tr id="row-3">
        <td class="space" >{{6}}</td>
        <td class="space" >{{7}}</td>
        <td class="space" >{{8}}</td>
    </tr>
</table>