<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Tic-Tac-Toe vs The World</title>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>

        <link rel="icon" href="favicon.ico">

    </head>
    <body>

        <header class="header-container">
            <div class="header-img-container">
                <img src="logo.png" alt="Tic-Tac-Toe Logo">
            </div>
            <div class="site-title-container">
                <h1 class="site-title">Tic-Tac-Toe vs The World</h1>
            </div>
        </header>

        {{{body}}}

        
    </body>
</html>