<main class="all-content">
    <section class="contents-container">

        <aside class="move-history-x">
            <h2 class="teams">TEAM X</h2>
            <div class="team-container-X">
                <ul>
                    {{#each game.users}}
                        {{#ifCond team "O"}}
                            <li> {{userName}} </li>
                        {{/ifCond}}
                    {{/each}} 
                </ul>
            </div>
        </aside>

        <aside class="move-history-o">
            <h2 class="teams">TEAM O</h2>
            <div class="team-container-O">
                <ul>
                        {{#each game.users}}
                        {{#ifCond team "X"}}
                            <li>{{userName}}</li>
                        {{/ifCond}}
                        {{/each}}
                </ul>
            </div>
        </aside>

        <section id="board-container">
            {{> board game.gameData}}
        </section>

    </section>

    <div class="submission-elements">

        <footer id="footer-container">
            <label for="username-text" class="username-input-label">Your username:</label>
            <div class="username-input-element">
                <input type="text" name="username-input" id="username-input" class="username-input" placeholder="Required">
            </div>
            
            <div class="submit-button">
                <button type="button" id="move-submit" class="action-button">SUBMIT</button>
            </div>
        </footer>

    </div>

    {{!-- toggle the class 'hidden' in JS in order to show/hide message --}}
    <div id="message-backdrop" class="hidden">

        <div id="message-container" class="hidden">
            <div id="winning-message">
                <h1 id="winning-message-text"></h1>
                <a href="http://localhost:8000/"> Refresh </a>
            </div>
        </div>
    </div>
</main>
