body {
    margin: 0px;
}

header {
    background-color: black;
    color: white;
}

.header-img-container {
    display: inline;
    text-align: center;
}

.header-img-container img {
    height: 150px;
    width: auto;
}

.site-title {
    display: inline;
    width: 50%;
}

main {
    margin: 5px;
}