body {
    margin: 0px;
    background-color: white;
}

.header-container {
    display: flex;
    background-color: #79142a;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.header-img-container img {
    /* justify-self: flex-start; */
    height: 150px;
    width: auto;
    padding-right: 20px;
}

.site-title {
    color: 79142a;
    -webkit-text-fill-color: rgb(112, 30, 44);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
}

.contents-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    /* border: solid 2px white; */
}

h2 {
    color: black;
}

.move-history-x {
    display: flex; 
    flex-direction: column;
    border: solid 2px black;
    border-radius: 5px;
    padding: 0px 5px;
    height: 67vh;
    width: 45vh;
    order: -1;
    margin: 0px 5px 0px 5px;
    overflow: scroll;
}

.move-history-o {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 5px;
    padding: 0px 5px;
    height: 67vh;
    width: 45vh;
    order: 1;
    margin: 0px 5px 0px 5px;
    overflow: scroll;
}

.teams {
    align-self: center;
}

.submission-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#board-container {
    display: flex;
    justify-content: center;
}

#board {
    border: solid 1px #79142a;
    background-color: black;
    width: auto;
    height: auto;
}

.space {
    border: solid 1px white;
    background-color: #79142a;
    color: #79142a ;
    -webkit-text-fill-color: rgb(112, 30, 44);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size: 48px;
    width: 150px;
    height: 150px;
    text-align: center;
}

.space:hover {
    cursor: pointer;
    background-color: white;
    color: white;
    border: solid 1px black;
    -webkit-text-fill-color: white ;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(112, 30, 44);
}

.space.x {
    background-color: white;
}

.space.o {
    background-color: black;
}

#footer-container {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

::-webkit-input-placeholder {
    text-align: center;
}

.username-input {
    height: 60px;
    width: 150px;
    margin: 30px, 15px;
}

#move-submit {
    background-color: rgb(112, 30, 44);
    color: white;
    -webkit-text-fill-color: rgb(112, 30, 44);
    -webkit-text-stroke-width: 1.3px;
    margin-top: 5px;
    width: 160px;
    height: 40px;
    margin-bottom: 5px;
}

#move-submit:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(112, 30, 44);
    border: solid 1px rgb(112, 30, 44);
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(112, 30, 44);
}


    /* winning message CSS */
#message-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#message-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #79142a;
}

#winning-message {
    z-index: 1010;
    order: 0;
    margin: 50px 100px 10px 100px;
    height: 60vh;
    border: solid 1px white;
    border-radius: 10px;
    width: 50%;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

a {
    color: #79142a;
    -webkit-text-fill-color: rgb(112, 30, 44);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    padding-top: 100px;
    align-self: center;
    font-size: 56px;
}

    /* toggle .hidden class in JS to show and hide winning message */
.hidden {
    display: none !important;
}


#winning-message-text {
    order: 0;
    position: relative;
    top: 10px;
    color: white;
    text-align: center;
}

#message-back:hover {
    background-color: white;
    color:rgb(112, 30, 44);
}

#close-message:hover {
    color: rgb(112, 30, 44);
}

    /* CSS for 404 and good job pages */
.page-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-layout h1 {
    font-size: 68px;
}

.page-layout a:hover {
    color:rgb(112, 30, 44);
}