body {
    margin: 0px;
    background-color: orange;
}

.header-container {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.header-img-container img {
    /* justify-self: flex-start; */
    height: 150px;
    width: auto;
    padding-right: 20px;
}

.site-title {
    color: orange;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: orange;
}

.contents-container {
    display: flex;
    justify-content: space-evenly;
    /* border: solid 2px white; */
}

h2 {
    -webkit-text-fill-color: orange;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.move-history-x {
    display: flex; 
    flex-direction: column;
    border: solid 2px black;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    height: 80vh;
    order: -1;
    margin-top: 1px;
}

.move-history-o {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    height: 80vh;
    order: 1;
    margin-top: 1px;
}

.submission-elements {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    /* border: solid 1px blue; */
    order: 0;
}

#board-container {
    display: flex;
    justify-content: center;
}

#board {
    border: solid 1px orange;
    background-color: black;
    width: auto;
    height: auto;
}

.space {
    border: solid 1px orange;
    background-color: black;
    color: orange;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
    font-size: large;
    width: 75px;
    height: 75px;
    text-align: center;
}

.space:hover {
    cursor: pointer;
    background-color: orange;
    color: black;
    border: solid 1px white;
    -webkit-text-fill-color: orange;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#footer-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.username-input {
    margin-top: 3px;
}

#move-submit {
    background-color: black;
    color: orange;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
    margin-top: 5px;
    width: 120px;
    height: 40px;
}

#move-submit:hover {
    cursor: pointer;
    background-color: orange;
    color: black;
    border: solid 1px black;
    -webkit-text-fill-color: orange;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}